

/*border box för hela sidan*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.bars{
  display: block;
  cursor: pointer;
  margin: 10px;

//Döljer bars i desktop 
@include respond-to('large'){
  display:none;
    }
}

.top-nav{
  display: flex;
  flex:1;
  flex-direction:row;
  justify-content: center;
  
  @include respond-to('medium') {
     flex: 1  45%;
     flex-direction: row;
     }
}
.price-img {
	display: flex;
  flex: 1;
  list-style: none;
  margin-top: 20px;
  justify-content: center;
  padding:40px;
  border-radius: 100%;
  border-color: 2px solid red;

  @include respond-to('medium') {
     flex: 1  45%;
     flex-direction: row;
     }

}
.price1, .price2, .price3{
	@extend %top-img;
  border-radius: 100%;
  border: 3px solid red;
  margin-left: 50px;
  text-align: center;
  flex-direction: row;

     @include respond-to('medium') {
     flex: 1 1 45%;
     flex-direction: row;
     }

}
.price-text1, .price-text2, .price-text3{
  color:red;
  font-weight: 600;
}

.foot1, .foot3{
  background-color: map-get($colors , brown);
  color:white;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

p {
  background-color: darkorange;
}
.social {
    
    display: none;

   @include respond-to('large') {

    display: flex;
    flex-direction: row;
    padding: 0 5px 0 5px;
    width: 480px;
    order:-1;
    align-content:flex-end;
    align-items: baseline;
    padding:0;
    margin:0;
    order:2;
    margin-top: 50px;

    
    }
.social-top {
  display: flex;
  text-decoration: none;
  list-style: none;
  flex-direction: row;
  color: map-get($colors ,header);
  justify-content: center;
  align-content: center;
  align-items: center;
  top:0;

}
.kill{
  display: flex;
  text-decoration: none;
  list-style: none;
  flex-direction: row;
    justify-content: center;
  align-content: center;
  align-items: center;
  top:0;
}
.tribal{
  height: 50px;
  width: 70px;
}

}
input#show-menu {
    display: none;
    &:checked {
        ~ nav > ul {
            display: flex;
            flex: 1 1 100%;
        }
    }
}

h4{
font-size: 1em;
@include respond-to('large'){
margin-left: 0px;
}
}
h4 li a{
text-align: center;

}
.titles {
@include respond-to('large'){

margin-top: 30px;
  }
}
.contact {
@include respond-to('large'){
margin-top: 30px;
margin-right: 205px;
}
}
.desc {
@include respond-to('large'){
margin-left: 57px;
margin-bottom: -5px;
padding-top: 0px;
}
}




.megamenu{
    text-transform: uppercase;
    background-color:map-get($colors, white);
    box-shadow: 0px 2px 8px  map-get($colors , white);
    display:none;
    //position: static;
    top:113px;
    z-index: 9999;
    
    

    @include respond-to('large'){
    position:absolute;
    width: 100%;
    left: 0;
    justify-content:flex-start;
       ul{
          flex:none;
        li{
        
          font-size:1em;
          text-align: left;
          
         a{
          color: map-get($colors, purple);
          flex:none;
          font-size: 1em;
      
        }
      }
    }
  }
}


nav > ul {
    background-color:map-get($colors, brown);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    
   
    
    @include respond-to('medium') {
    flex-direction: column;
    justify-content: flex-start;
    
    }
    
    @include respond-to('large'){
    display:flex;
    flex: 1;
    flex-direction: row;
    padding: 15px;
    }
        //Dropdown Titel
        li {
          
        color: map-get($colors, black);
        flex: 1;
        width: 100%;
        flex-direction: column;
        display: block;
        justify-content: flex-start;
        
        @include respond-to('medium') {
        //text-align: center;
        }
        
        @include respond-to('large') {
        flex: 1 1 100%;
        display:flex;
        }
        
            a, label {

            font-size: 1em;
            justify-content: flex-start;
            text-decoration: none;
            text-transform: uppercase;
            flex: 1;
            color:map-get($colors, white);
            margin-top: 65px;
            
            
            &:hover {
            color:map-get($colors, black);

            
            
         }
      }
   }
}


input#submenu_toggle{
    display: none;
    &:checked ~ .megamenu {
        display:block;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: center;
        
        @include respond-to('large'){
            display:flex;
        }
    }
}

.fieldset{
  text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: center;
  
  
  @include respond-to('large'){
      margin-left: -11px;

  
  }
}
//Form
#saveform {
    border: none;
}
form > div > div,
form > div > fieldset > div {
  width: 100%;
  margin-left: 37px;
  flex-direction: center;

   @include respond-to('large') {
     
}
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
  width: 80%;
  border-bottom: 2px solid map-get($colors , dark-blue);
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 80%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 3;
}

 @include respond-to('small') {
  
  form > div > label,
  legend {
	  width: 50%;
   
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 90%;

    @include respond-to('large'){
     width: 50%; 
    }
   
  }
  // input[type=text],
  // input[type=email],
  // input[type=url],
  // input[type=password],
  // textarea,
  // select {

  // }
 
 @include respond-to('large') {
  form > div > label,
	legend {
  	text-align: left;
    display:flex;
    flex:1;
   
  }
}
 }


    