

/*border box för hela sidan*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



.bars{
  display:block;
  cursor: pointer;
  margin-top: -45px;
  margin-left: 20px;
  @include respond-to('large'){
  display:none;
    }
}

input#show-menu {
    display: none;
    &:checked {
        ~ nav > ul {
            display: flex;
            flex: 1 1 100%;
        }
    }
}


#headcontain{

   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   z-index: 9999;


   header{
      background: map-get($colors, brown) url('../images/binding-dark.png');
      display: flex;
      margin-top: 0px;
      justify-content: center;
      align-items: baseline;
   

      > div {
         padding: 0 px;
      }
      .social{
        margin: 5px;
         order: 1;
         display: flex;
         align-items: center;
         justify-content: center;
         

         div{
            margin: 5px;

            i{
               color: rgba(0,0,0,0.6);


            }
         }
      }
      .headline {
        order:2;
         display: flex;
         align-items: flex-end;
         
         h1, h2 {
            font-size: 20px;
            margin: 0;
            padding: 0 2px;
            align-items: baseline;
            color: rgba(0,0,0,0.6);
         }
      }

      .tribal{
        order:3;
         }
         img{
            width: 75px;
         }
      }
   }


.price-img {
	display: flex;
  flex: 1 1 50%;
  list-style: none;
  margin-top: 100px;
  justify-content: center;
  border-radius: 50%;
  border-color: 2px solid red;
  background-color: transparent;
  flex-direction: column;

  @include respond-to('large') {
     flex: 1 1 100%;
     padding:40px;
     flex-direction: row;
     margin-top: -40px;

     }

}
.price1, .price2, .price3{
  flex: 1;
  border-radius: 50%;
  border: 3px solid red;
    margin-left: 100px;
    margin-right: 100px;  text-align: center;
  flex-direction: column;
    margin-top: 20px;


     @include respond-to('medium') {
     flex: 1 1 45%;
     flex-direction: row;
     }
    

}
.price-text1, .price-text2, .price-text3{
  color:blue;
  font-weight: 600;
}

.foot1, .foot2, .foot3{
  background-color: map-get($colors , brown);
  color:white;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}


.socials {
    
    display: none;

   @include respond-to('large') {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    width: 100px;
    order:-1;
    align-content:flex-end;
    align-items: baseline;
    order:2;
    margin-top: 64px;

    
    }
.social-top {
  display: flex;
  text-decoration: none;
  list-style: none;
  flex-direction: row;
  color: map-get($colors ,header);
  justify-content: center;
  align-content: center;
  align-items: center;
  top:0;

}
.kill{
  display: flex;
  text-decoration: none;
  list-style: none;
  flex-direction: row;
    justify-content: center;
  align-content: center;
  align-items: center;
  top:0;
}
.tribal{
  height: 50px;
  width: 70px;
}

}


h4{
font-size: 1em;
@include respond-to('large'){
margin-left: 0px;
}
}
h4 li a{
text-align: center;

}
.titles {
@include respond-to('large'){
margin-top: 30px;
  }
}
.contact {
@include respond-to('large'){
    margin-top: 23px;
    margin-right: 283px;
}
}
.desc {
@include respond-to('large'){
margin-left: 61px;
margin-top: 50px;
margin-bottom: 6px;
padding-top: 0px;
}
}




.megamenu{
    text-transform: uppercase;
    background-color:map-get($colors, black);
    box-shadow: 0px 2px 8px  map-get($colors , white);
    display:none;
    //position: static;
    top:168px;
    z-index: 9999;
    
    

    @include respond-to('large'){
    position:absolute;
    width: 100%;
    left: 0;
    justify-content:flex-start;
       ul{
          flex:none;
          padding: 20px;
          margin-top: -22px;

        li{
        
          font-size:1em;
          text-align: left;
          
         a{
          color: map-get($colors, purple);
          flex:none;
          font-size: 0.9em;
      
        }
      }
    }
  }
}


nav > ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    background: map-get($colors, brown) url('../images/binding-dark.png');

   
    @include respond-to('large'){
    display:flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    }
        //Dropdown Titel
        li {
          
        color: map-get($colors, white);
        flex: 1;
        width: 100%;
        display: block;
        
        
        @include respond-to('large') {
        //flex: 1 1 100%;
        display:flex;
        flex-flow: row nowrap;
        width: 100%;
        flex-direction: row;
        align-items: baseline;
        }
             
        
            a, label {
            cursor: pointer;
            font-size: 1em;
            display: block;

            text-decoration: none;
            text-transform: uppercase;
            flex: 1;
            color:map-get($colors, white);
            margin-top: 65px;

            
            
            &:hover {
            color:map-get($colors, black);
            }
            }
            label:after{
            content:" \f0d7";
            font-family: FontAwesome;
        }
      }
    }
      
input#submenu_toggle{
    display: none;
    &:checked ~ .megamenu {
        display:block;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: center;
        
        @include respond-to('large'){
            display:flex;
        }
    }
}

.fieldset{
  text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: center;
  
  
  @include respond-to('large'){
      margin-left: -11px;

  
  }
}
//Form
#saveform {
    border: none;
}
form > div > div,
form > div > fieldset > div {
  width: 100%;
  margin-left: 37px;
  flex-direction: center;

}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
  margin-top: -50px;
  width: 80%;
  border-bottom: 2px solid map-get($colors , dark-blue);
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 80%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 3;
}

 @include respond-to('small') {
  
  form > div > label,
  legend {
	  width: 50%;
   
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 90%;

    @include respond-to('large'){
     width: 50%; 
    }
   
  }

 
 @include respond-to('large') {
  form > div > label,
	legend {
  	text-align: left;
    display:flex;
    flex:1;
   
  }
}
 }

