.footer {
	bottom: 0;
	display: flex;
	box-shadow: 5px 8px 5px 5px solid black;
	text-decoration: none;
	list-style: none;
	flex-direction: column;
	
	@include respond-to('large') {
     flex-direction: row;
     }

}
.foot1, .foot2, .foot3 {
	@extend %footer-style;
    background: map-get($colors, brown) url('../images/binding-dark.png');
	
	@include respond-to('large') {
	margin-top: 10px;
     }


	li a {
    color:map-get($colors, white); 
	text-decoration: none;

	}
}

