///Font import
@import url(https://fonts.googleapis.com/css?family=Dosis:bold,extrabold);


///Color-map
$colors: (
black: black,
black_20: rgba(0,0,0,0.2),
black_30: rgba(0,0,0,.3),
black_50: rgba(0,0,0,.5),
black_60: rgba(0,0,0,0.6),
black_70: rgba(0,0,0,0.7),
black_80: rgba(0,0,0,0.8),
white: white,
white_50: rgba(255,255,255,.5),
white_70: rgba(255,255,255,.7),
nocolor: rgba(0,0,0,0.0),
sea_green: seagreen,
gold: gold,
cyan:cyan,
transparant: rgba (0, 0, 0, 0.1,),
red: red,
purple:purple,
turkos:#39b3d7,
turkos2:#269abc,
dark-blue:#333333,
facebook-blue: #3b5998,
instagram:#c4299e,
twitter:#1da1f2
);

///Fonts
$font_0: Helvetica;
$font_1: Arial;
$font_2: sans-serif;

///Operator
$card-padding: 10px; ///OPERATOR



///Breakpoints
$breakpoints: (
  'small':(min-width:  27.000em),
  'medium':(min-width:  37.000em),
  'large':(min-width: 62.000em)
) !default;