
///Färg opacity-loop för flexcards
$nav: #6fc2da #4fb1ce #36aace #1e95b7 #0d7591 #086379 #025163 #004350;

.box-card {
    @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
            background-color: nth($nav, $i);
        }
    }   
}

///Wrap
%card-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
  
}


///Image for serie1 flexcards
%top-img {
  display: flex;
  flex: 1;
  padding: 20px;
  justify-content: center;
  list-style-type: none;
}

///The flexcard
%box-card{
 padding: ($card-padding + 20) /2; //OPERATOR
 margin-bottom: 5%;
 display: flex;
 padding: 20px;
 flex-wrap: wrap; 
 justify-content:space-around;
 width: 100%;
 
 p{
     background-color: darkorange;
     flex-grow: 1;
 }
}


///Title
%box-card-title {
  flex-grow: 1;

h3{
    color:red;
    margin-top: 0px;
    &:before{
    content:"- Kill this poacher - REWARD $ "
        }
    }
}

///Meta
%box-card-meta {
 display: flex;
}

///Category
%box-category {
 flex: 1;
}

///Author
%box-card-author {
 flex: 1;
 text-align: right;
}

///Bottom of the card
%box-card-bottom {
 flex-grow: 1;
}

///card image
%box-card-img{
 margin: 20px 0;
 align-self: center;
 height: auto;
 object-fit: cover;

} 


///Footer
%footer-style {
  display: flex;
  flex: 1;
  color:map-get($colors, white);
  padding: 20px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: map-get($colors , $colors);

}

///Hamburger icon
%hamburger{
  content: "\f0c9";
    color:white;
}

///The 3rd card border
%box-card:nth-child(3) {
    border:2px solid red;
    border-radius: 8px;
}
///The 4th card border
%box-card:nth-child(4) {
    border:2px solid red;
    border-radius: 8px;
}

