html,body{
  height: 100%;
}
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

//Hämtar mixin för bakgrunden
body {
  @include background;
  
}

